---
title: Vegan Red Velvet Cupcakes
layout: recipe.njk
recipeList:
  - "red-velvet-cupcakes"
  - "red-velvet-frosting"
excerpt: Gloriously light and fluffy vegan red velvet cupcakes with red velvet frosting. Perfectly spongey and moist, vibrantly red, and fabulously vegan.
---

{# This will appear after the recipe. #}
<p>Have you ever seen such gorgeousness as these vegan red velvet cupcakes? Or is that just me blowing my own trumpet since I made them and all.</p>
<p>Well I was mighty impressed with how these turned out. Not least because I finally found a shop that sells gorgeous cupcake liners. Oh my – these have just changed my life I tell you!</p>
<p>Well you know, it’s been a long time since I ate non-vegan cake. I mean like over a decade. So I really can’t remember what it’s like. So it’s not like I’m going to eat a non-vegan red velvet cupcake alongside one of mine and compare them or anything.</p>
<p>So even though I knew these were very good, I wasn’t sure if they were comparatively as good as some ridiculously light and fluffy non-vegan cupcakes.</p>
